@import "../../../styles/variables/variables.scss";
.input-group {
  position: relative;
  margin-bottom: 20px;

  input {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid;
    background: transparent;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s ease-in-out;
    min-height: 30px;
  }

  label.floating {
    top: 8px;
    font-size: 0.75rem;
    color: $color-light;
  }

  label {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1rem;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
  }
  &.light {
    input {
      color: $color-light;
      border-bottom-color: $color-light;
    }

    label {
      color: $color-light;
    }

    input:focus + label,
    input:not(:placeholder-shown) + label {
      color: $color-light;
    }
  }

  &.primary {
    input {
      color: $color-primary;
      border-bottom-color: $color-primary;
    }

    label {
      color: $color-primary;
    }

    input:focus + label,
    input:not(:placeholder-shown) + label {
      color: $color-primary;
    }
  }

  input:focus + label,
  input:not(:placeholder-shown) + label {
    top: 8px;
    font-size: 0.75rem;
    color: $color-light;
  }
}
