@import "../../../styles/variables/variables.scss";
.input-group {
  position: relative;
  margin-bottom: 20px;

  input {
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    outline: none;
    background: white;
    transition: 0.3s;

    &:focus {
      border-color: $color-primary;
    }
  }

  label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 0.9rem;
    color: #aaa;
    transition: 0.3s;
  }

  input:focus + label,
  input:not(:placeholder-shown) + label {
    top: 5px;
    font-size: 0.75rem;
    color: $color-primary;
  }
}
