/* Estilos gerais para o card */
.content {
  height: 100vh;
  display: flex;
  justify-content: center;
}

.login-card {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
  height: 50vh;
  align-self: center;
}

.logo-container {
  text-align: center;
  margin-bottom: 20px;
}

.logo {
  width: 150px; /* Ajuste o tamanho conforme necessário */
  height: auto;
}

mat-card-header {
  text-align: center;
}

mat-card-title {
  font-size: 1.5rem;
  font-weight: 500;
}

.mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

.full-width {
  width: 100%;
}

.button-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

button {
  width: 100%;
  font-size: 1.1rem;
}

@media (max-width: 600px) {
  /* Ajustes para dispositivos móveis */
  .login-card {
    margin: 20px;
    padding: 15px;
  }

  .logo {
    width: 120px; /* Ajuste para tamanho menor em dispositivos móveis */
  }
}
