@import "../../styles/variables/variables.scss";

.login-container {
  display: flex;
  height: 100vh;

  .left-panel {
    flex: 1;
    background: url("../../assets/background.jpg") no-repeat center center;
    background-size: cover;
    display: none;
  }

  .right-panel {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-primary;
  }

  .login-card {
    background: transparent;
    text-align: center;
    padding: 20px;
    color: $color-light;
    width: 100%;
    max-width: 350px;

    .logo {
      width: 150px;
      height: 150px;
      object-fit: cover;
      margin-bottom: 15px;
    }

    .input-group {
      text-align: left;
      margin-bottom: 50px;

      input {
        width: 100%;
        padding: 10px;
        border: none;
        border-bottom: 2px solid $color-light;
        background: transparent;
        color: $color-light;
        font-size: 1rem;
        outline: none;

        &::placeholder {
          color: $color-light;
          opacity: 0.7;
        }
      }
    }


  }
}

@media (min-width: 768px) {
  .login-container {
    .left-panel {
      display: block;
    }
  }
}
