<div class="login-container">
  <div class="left-panel">
  </div>
  <div class="right-panel">
    <div class="login-card">
      <img src="assets/logo_3.png" class="logo" />
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <div class="input-group">
          <input
            id="email"
            type="email"
            formControlName="email"
            placeholder="E-mail"
          />
        </div>

        <div class="input-group">
          <input
            id="password"
            type="password"
            formControlName="password"
            placeholder="Password"
          />
        </div>

        <button type="submit" class="btn-login">Login</button>
      </form>
    </div>
  </div>
</div>
