<div class="login-container">
  <div class="left-panel"></div>
  <div class="right-panel">
    <div class="login-card">
      <img src="assets/logo_3.png" class="logo" />
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <app-input
          id="email"
          type="email"
          label="E-mail"
          placeholder=" "
          [control]="emailControl"
        ></app-input>

        <app-input
          id="password"
          type="password"
          label="Senha"
          placeholder=" "
          [control]="passwordControl"
        ></app-input>

        <button type="submit" class="btn-login">Entrar</button>
      </form>
    </div>
  </div>
</div>
