@import "../styles/variables/variables.scss";

.btn {
  width: 100%;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  padding: 12px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s;

  &-primary {
    background: $color-secondary;
    color: $color-light;

    &:hover {
      background: darken($color-secondary, 10%);
    }
  }

  &-secondary {
    background: $color-primary;
    color: $color-light;

    &:hover {
      background: darken($color-primary, 10%);
    }
  }

  &-danger {
    background: red;
    color: white;

    &:hover {
      background: darken(red, 10%);
    }
  }

  &-success {
    background: green;
    color: white;

    &:hover {
      background: darken(green, 10%);
    }
  }
}
