$color-primary: #4668fe;
$color-light: #ffffff;
$color-secondary: #4ac7ee;
$color-text: #597492;
$color-background: #f6faff;
$color-black: #000000;

$font-primary: "Raleway", sans-serif;
$font-secondary: "Roboto", sans-serif;
